@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

$bg-color: #1e1e1e;
$font-color: #eeeeee;
$btn-color: #2d2d30;
$btn-hover-color: #3e3e42;
$btn-active: #007acc;

::selection {
	background: $font-color;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg-color;
	color: $font-color;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	width: 100%;
	max-width: 1200px;
}

h1 {
	font-family: "Merriweather", serif;
}

.tags {
	margin-top: 10px;
	list-style: none;
	padding: 0;

	li {
		display: inline-block;
		padding: 12px 18px;
		background-color: $btn-color;
		border-radius: 10px;
		margin: 5px 10px 5px 0;
		font-weight: 500;
		font-size: 18px;
		transition: all 0.15s ease-in-out;
		cursor: pointer;

		&:hover {
			background: $btn-hover-color;
		}

		&.active {
			background-color: $btn-active;
		}
	}
}

.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 20px;

	@media (max-width: 1000px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.image-loader {
	width: 100%;
	height: 100%;
}

.collection,
.image-loader {
	max-width: 470px;
	background-color: $btn-color;
	padding: 30px;
	border-radius: 30px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	h4 {
		margin: 0;
		margin-top: 15px;
		font-size: 20px;
		font-family: "Merriweather", serif;
	}

	&:hover {
		box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
		transform: translateY(-5px);
	}

	@media (max-width: 1000px) {
		width: 100%;
	}

	img {
		object-fit: cover;
	}

	&__big {
		height: 250px;
		width: 100%;
		border-radius: 20px;
		margin-bottom: 15px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
	}

	&__mini {
		width: 31%;
		height: 80px;
		border-radius: 20px;
	}
}

.image-viewer-wrapper {
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.image-viewer {
	max-width: 1000px;
	height: 600px;
	padding: 30px;
	border-radius: 20px;
	background: $btn-color;

	&__img {
		border-radius: 20px;
		max-width: 100%;
		height: 100%;
	}
}

.top {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.search-input {
	width: 250px;
	height: 50px;
	margin-top: 10px;
	padding: 0 15px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: $btn-color;
	color: $font-color;
	outline: none;
	transition: all 0.15s ease-in-out;

	&:focus {
		border: 1px solid rgba(255, 255, 255, 0.2);
	}
}

.pagination {
	margin-top: 40px;
	list-style: none;

	li {
		display: inline-block;
		padding: 10px 17px;
		background-color: $btn-color;
		font-size: 18px;
		border-radius: 10px;
		margin-right: 15px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		cursor: pointer;

		&:hover {
			background-color: $btn-hover-color;
			color: $font-color;
		}

		&.active {
			background-color: $btn-active;
			color: $font-color;
		}
	}
}
